@import "tailwindcss";

@font-face {
    font-family: "views-sans";
    src: url(./fonts/ViewsSans-Regular.ttf);
}

@font-face {
    font-family: "apta-sans";
    src: url(./fonts/AptaRegularPro.ttf);
}

@theme {
    --font-family-views-sans: "views-sans", sans-serif;
    --font-family-apta-sans: "apta-sans", sans-serif;
}

.font-views-sans {
    font-family: var(--font-family-views-sans);
}

.font-apta-sans {
    font-family: var(--font-family-apta-sans);
}